/* Gaya untuk formulir */
body {
    background-image: url(../image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px 25px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #fac031;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
    border-color: #fac031;;
}

textarea {
    resize: vertical;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px 0;
    background: linear-gradient(120deg, #ff7f50, #fac031);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.btn:hover {
    background: linear-gradient(120deg, #fac031, #ff7f50);
    transform: scale(1.05);
}

.container .btn-back {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: white; /* Mengubah warna font tombol kembali menjadi putih */
    font-size: 18px;
    background-color: #fac031; /* Bisa disesuaikan dengan warna tombol */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}